
login-system/target/classes/com/burgis/loginsystem/models/MeetingLink.class
.vs/
.vscode/

app/node_modules
asterisk/node_modules
chatapp/node_modules
basic_home_ui/
home_ui_new/
login_ui_new/
login_ui_old/
main_ui/
meeting_ui/
meeting_ui_new/
ui/

