* {
    box-sizing: border-box;
    margin: 0;
    user-select: none;
}

main {
    width: 100%;
    height: 100vh;
}

.meeting-screen img {
    width: 100px;
}

.meeting-screen,
.meeting-controls {
    width: 100%;
    background-color: #202124;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.meeting-screen {
    height: 90%;
}

.meeting-controls {
    height: 10%;
}

.meeting-controls__button {
    margin: 0.8rem;
    width: 45px;
    padding: 0.6rem;
    border-radius: 50%;
    background: #535353;;
    transition: 0.2s; 
}

.meeting-controls__button:hover {
    cursor: pointer;
    background: #f1f3f4;
}

.button--hidden {
    display: none;
}
