* {
    box-sizing: border-box;
    margin: 0;
    user-select: none;
    overflow: hidden;
}

main {
    height: 100vh;
}

.meeting-screen img {
    width: 8rem;
}

.meeting-screen,
.meeting-controls {
    background-color: #202124;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.meeting-screen {
    height: 90%;
}

.meeting-controls {
    height: 10%;
}

.meeting-controls__button {
    margin: 0.8rem;
    width: 3rem;
    padding: 0.7rem;
    border-radius: 50%;
    background: #5F6368;
    transition: background 0.2s; 
}

.meeting-controls__button:hover {
    cursor: pointer;
    background: #DEE1E6;
}

.button--hidden {
    display: none;
}
