aiohttp==3.8.6
aioice==0.9.0
aiortc==1.5.0
aiosignal==1.3.1
anyio==3.7.1
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
av==10.0.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==2.0.12
click==8.1.7
colorama==0.4.6
cryptography==41.0.5
dnspython==2.4.2
exceptiongroup==1.1.3
fastapi==0.75.1
frozenlist==1.4.0
google-crc32c==1.5.0
greenlet==3.0.1
h11==0.14.0
idna==3.4
ifaddr==0.2.0
Jinja2==3.1.2
MarkupSafe==2.1.3
multidict==6.0.4
numpy==1.26.1
opencv-python==4.8.1.78
pycparser==2.21
pydantic==1.10.13
pyee==11.0.1
pylibsrtp==0.8.0
pyOpenSSL==23.3.0
python-dateutil==2.8.2
requests==2.27.1
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.35
starlette==0.17.1
typing_extensions==4.8.0
urllib3==1.26.18
uvicorn==0.17.6
yarl==1.9.2
