:root {
    --dark-red: rgb(113, 53, 54);
    --light-red: rgb(175, 51, 51);
    --white: #d2cccc;
    --pinkish-white: rgb(222, 216, 216);
    --grey: rgba(100, 100, 100, 0.52);
}

.chat--system {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: "Poppins";
    float: left;
}

.body-chat {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--grey);
    color: #fff;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.main-chat {
    height: 100vh;
    /* padding: 1rem; */
    display: flex;
    flex-flow: column;
}

.form-msg {
    width: 100%;
    margin-top: auto;
    max-width: 600px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: .25rem;
}

.form-join {
    width: 100%;
    margin-bottom: auto;
    max-width: 600px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: .25rem;
}

.input-chat {
    flex-grow: 1;
    max-width: calc(80% - .25rem);
}

.button-chat {
    width: 20%;
    background-color: var(--light-red);
}

.input-chat,
.button-chat {
    border-radius: 10px;
    padding: .5rem;
}

.chat-display {
    background-color: var(--grey);
    list-style-type: none;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin: 1rem auto;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: left;
    overflow: auto;
    flex-grow: 1;
}

.post {
    background-color: var(--pinkish-white);
    border-radius: 10px;
    padding: 0 0 .25rem;
    margin: .5rem;
    overflow: hidden;
    flex-shrink: 0;
}

.post--left {
    width: 60%;
    align-self: flex-start;
}

.post--right {
    width: 60%;
    align-self: flex-end;
}

.post__header {
    color: var(--pinkish-white);
    padding: .25rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.post__header--user {
    background-color: var(--light-red);
}

.post__header--reply {
    background-color: var(--dark-red);
}

.post__header--name {
    font-weight: bold;
}

.post__header--time {
    font-size: .8rem;
}

.post__text {
    margin-top: 5px;
    color: #333;
    padding: .25rem .5rem;
}

.user-list,
.room-list,
.activity {
    width: 100%;
    min-height: 2.65rem;
    margin: 0 auto;
    max-width: 600px;
    padding: .75rem .25rem;
}

.activity {
    font-style: italic;
}

.admin-message {
    color: white;
    text-align: center;
    padding-bottom: .2rem;
  }
  