:root {
    --dark-red: rgb(113, 53, 54);
    --light-red: rgb(175, 51, 51);
    --white: #d2cccc;
    --pinkish-white: rgb(222, 216, 216);
    --grey: rgba(100, 100, 100, 0.52);
}

.chat--system {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.9rem;
    font-family: "Poppins";
}

.body-chat {
    background-color: var(--white);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.main-chat {
    height: 100vh;
}

.form-msg {
    position: fixed;
    bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.input-chat {
    border-top-right-radius: 30px 40px;
    border-bottom-right-radius: 30px 40px;
    border-top-left-radius: 30px 40px;
    border-bottom-left-radius: 30px 40px;
    border: 1px solid var(--grey);
    padding: 0.5em;
    margin-left: 0.15em;
    background: var(--pinkish-white);
}

.input-chat:focus {
    outline: none;
    background: var(--white);
}

.button-chat {
    border: none;
    color: var(--dark-red);
    background: none;
    padding: 0;   
    transition: 0.2s;
}

.button-chat:hover {
    color: var(--light-red);
}

.send-message__button {
    font-size: 2em !important;
}

.chat-display {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    overflow: auto;
}

.body-chat::-webkit-scrollbar {
    display: none;
}

.post {
    margin-bottom: 0.25em;
    min-width: 15em;
}

.post--left {
    align-self: flex-start;
}

.post--right {
    align-self: flex-end;
}

.post__header {
    color: var(--pinkish-white);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}

.post__header--user {
    /* background-color: var(--light-red); */
}

.post__header--reply {
    background-color: var(--dark-red);
}

.post__header--name {
    font-weight: bold;
    font-size: 0.9em;
    color: var(--dark-red);
}

.post__header--time {
    font-size: 0.8em;
    color: var(--dark-red)
}

.post__text {
    color: var(--dark-red);
}

.user-list,
.room-list,
.activity {
    width: 100%;
    min-height: 2.65rem;
    margin: 0 auto;
    max-width: 600px;
    padding: .75rem .25rem;
}

.activity {
    font-style: italic;
}

.admin-message {
    color: var(--dark-red);
    text-align: center;
}
  