:root {
    --dark-red: rgb(113, 53, 54);
    --light-red: rgb(175, 51, 51);
    --white: #d2cccc;
    --pinkish-white: rgb(222, 216, 216);
    --grey: rgba(100, 100, 100, 0.52);
}

.html--h, .body--h {
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    background-color: var(--white);
    font-family: "Poppins";
    font-size: 0.85rem;
    user-select: none;
}

.header--h {
    display: flex;
    justify-content: center;
    color: var(--light-red);
    font-size: 2.5rem;
}

.header--h h1 {
    margin: 0;
    padding-top: 1rem;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--pinkish-white);
    height: 100%;
    width: 4rem;
    display: flex;
    align-items: flex-end;
    white-space: nowrap;
    transition: all 0.5s;
    overflow-x: hidden;
}

.logo {
    position: absolute;
    top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 0.7rem;
}

.logo-icon {
    font-size: 50px;
}

.logo h2 {
    display: inline;
    font-size: 1.3rem;
    color: var(--light-red)
}

.logo-icon, 
.logo h1 {
    color: var(--light-red);
}

.material-icons {
    font-size: 45px !important;
}

.material-icons.profile-icon {
    font-size: 5rem;
}

.nav--h ul {
    padding-inline-start: 0;
    list-style-type: none;
}

.nav--h ul li {
    padding: 0.7rem;
}

.nav--h ul li a {
    text-decoration: none;
    color: var(--dark-red);
    display: flex;
    align-items: center;
    gap: 0.75rem;
    transition: 0.3s;
}

.nav--h ul li a:hover {
    color: var(--light-red);
}

.nav--h ul li {
    padding: 0.7rem;
}

.main-section {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls-container,
.feature-container {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

.controls-container a {
    text-decoration: none;
    color: var(--dark-red);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls-container a:hover {
    color: var(--light-red);
}

.controls-container a span {
    font-size: 9rem;
}

.feature-button {
    background-color: var(--dark-red);
    color: var(--white);
    border-radius: 10%;
    padding: 3rem;
    transition: 0.2s;
}

.feature-button:hover {
    cursor: pointer;
    background-color: var(--light-red);
}

.opaque-background {
    height: 100vh;
    width: 100%;
    background-color: var(--grey);
}

.opaque-background,
.dashboard-overlay,
.account-overlay,
.settings-overlay,
.form-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.settings-overlay {
    background-color: var(--white);
    width: 45rem;
    height: 30rem;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.settings-overlay h2 {
    padding: 2rem;
    font-size: 2.75rem;
    color: var(--light-red);
}
 
.settings-overlay a {
    padding: 1rem;
    width: 50%;
    text-decoration: none;
    color: var(--dark-red);
    transition: 0.2s;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    font-size: 1.2rem;
}

.exit-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    color: var(--grey);
    transition: 0.3s;
}

.exit-button:hover {
    cursor: pointer;
    color: var(--light-red);
}

.account-overlay {
    background-color: var(--white);
    width: 25rem;
    height: 30rem;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.account-overlay a {
    padding: 0.5rem;
    width: 40%;
    text-decoration: none;
    color: var(--dark-red);
    display: flex;
    align-items: center;
    transition: 0.2s;
    gap: 0.5rem;
}

.account-overlay a:hover,
.settings-overlay a:hover {
    color: var(--light-red);
}

.profile {
    margin-bottom: 1rem;
    text-align: center;
}

.profile-icon {
    font-size: 2rem;
    color: var(--light-red);
}

.profile-name {
    text-align: center;
    font-size: 1.5rem;
    color: var(--light-red);
}

.conference-buttons {
    font-size: 8rem !important;
}

.form-overlay {
    background-color: var(--white);
    width: 25rem;
    height: 18rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
}

.form-overlay h2 {
    padding-top: 2.5rem;
    padding-bottom: 0.75rem;
    font-size: 1.5rem;
    color: var(--light-red);
}

.form-buttons {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.form__input {
    border-radius: calc(10px - 0.25rem) !important;
    padding: 0.25rem !;
    width: 8rem !important;
    background-color: var(--pinkish-white) !important;
}

.form-overlay a {
    text-decoration: none;
    color: var(--dark-red);
    font-size: 1rem;
}

.form-overlay a:hover {
    color: var(--light-red);
}

.volume-slider {
    -webkit-appearance: none;
    -moz-apperance: none;
    appearance: none;
    background-color: var(--light-red);
    height: 5px;
    border-radius: 1rem;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--dark-red);
    height: 15px;
    width: 15px;
    border-radius: 1rem;
}

.videoSpan-s, 
.micSpan-s {
    white-space: nowrap;
    margin: 0;
}

.videoSpan-s {
    margin-right: -3px;
}

.checkbox-toggles input[type="checkbox"] {
    display: none;
    margin: 0;
}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.checkbox-label .checkbox-overlay {
    position: absolute;
    height: 24px;
    width: 24px;
    background-color: var(--light-red);
    border: 8px;
    border: 2px solid var(--dark-red);
    transform: rotate(-90deg);
    transition: all 0.3s;
}

.checkbox-label .checkbox-overlay .material-icons {
    display: none;
    font-size: 1.5rem !important;
    color: var(--light-red);
}

.checkbox-label input:checked ~ .checkbox-overlay {
    background-color: var(--dark-red);
    border-radius: 8px;
    transform: rotate(0deg);
    opacity: 1;
    border: 2px solid var(--dark-red);
}

.checkbox-label input:checked ~ .checkbox-overlay .material-icons {
    display: block;
}