:root {
    --dark-red: rgb(113, 53, 54);
    --light-red: rgb(175, 51, 51);
    --white: #d2cccc;
    --pinkish-white: rgb(222, 216, 216);
    --grey: rgba(100, 100, 100, 0.52);
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 10px;
}

html {
    background-color: var(--white);
}

.body--ls {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--white);
}

.header-ls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-right: 6rem;
}

.header-ls h1 {
    color: var(--dark-red);
    font: bold 5rem 'Poppins';
    margin: 2rem 0 2.5rem 0;
}

.logo-icon__header {
    width: 150px;
    height: 150px;
}

.container--ls {
    width: 400px;
    max-width: 400px;
    padding: 2rem;
    box-shadow: 0 0 40px var(--grey);
    border-radius: 20px;
    background-color: var(--pinkish-white);
}

.container--ls,
.form__input,
.form__button {
    font: 500 1rem 'Poppins';
}

.form--hidden { 
    display: none;
}

.form--ls {
    margin-top: 1rem;
    max-height: 400px; /* Set a maximum height for the form */
    overflow-y: auto; /* Add a vertical scrollbar when content exceeds the height */
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin: 0;
    font-size: 2.3rem;
    color: var(--dark-red);
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success { /* To change the colors of message when successful */
    color: var(--color-success);
}

.form__message--error { /* To change the colors of message when error */
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid var(--grey);
    outline: none;
    background-color: var(--white);
    transition: all 0.5s;
}

.form__input:focus {
    border-color: var(--light-red);
    background: #f8f8f8;
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--pinkish-white);
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--dark-red);
    transition: all 0.3s;
}

.form__button:hover {
    background: var(--light-red);
    color: var(--white);
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: var(--dark-red);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    color: var(--light-red);
}

.form__input-group--double {
    display: flex;
    margin-bottom: 1rem;
}

.form__input-group--double .form__input {
    flex: 1;
}

.form__input-group--double .react-datepicker-wrapper {
    flex: 1;
}

.gender-dropdown {
    width: 150px;
}
