:root {
    --color-primary: #F46566;
    --color-primary-dark: #B84C4D;
    --dark-red: rgb(113, 53, 54);
    --light-red: rgb(175, 51, 51);
    --white: #d2cccc;
    --pinkish-white: rgb(222, 216, 216);
    --grey: rgba(100, 100, 100, 0.25);
}

.body--m, .html--m {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    background-size: cover;
    font-family: "Poppins";
    user-select: none;
    overflow: hidden;
}

.video-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    margin: auto;
    /* max-width: 800px; */
    place-items: center;
}

.vid-con1 {
    display: relative;
    border: 1px solid black;
    background-color: rgb(113, 53, 54);
    color: #d2cccc
}

.video-element, .audio-element {
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vid-con1:span {
    position: absolute;
}

.icon-status {
    display: inline;
}

.button__control-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    gap: 1rem;
    padding-bottom: 1rem;
}

.control-buttons{
    font-size: 1.75rem !important;
}

.clock-content {
    position: absolute;
    left: 2rem;
    bottom: 1.75rem;
    color: var(--dark-red);
}

.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--pinkish-white);
    border: none;
    transition: all 0.3s ease;
    color: var(--dark-red)
}

.toggle-button:hover {
    color: var(--light-red);
    background-color: var(--grey);
}
  
.button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-sidebar {
    width: 245px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -245px;
    background-color: #fff;
    border-left: 1px solid #ddd;
    transition: transform 0.3s ease-in-out;
}

.chat-sidebar-open {
    right: 0;
}

.text-decoration--none {
    text-decoration: none;
}

.userName-meet {
    display: flex;
}