:root {
    --dark-red: rgb(113, 53, 54);
    --light-red: rgb(175, 51, 51);
    --white: #d2cccc;
    --pinkish-white: rgb(222, 216, 216);
    --grey: rgba(100, 100, 100, 0.52);
}

.body--m, .html--m {

    --color-primary: #F46566;
    --color-primary-dark: #B84C4D;

    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    background-size: cover;
    font-family: "Poppins";
    /* padding-bottom: 50px; */
  }

.h1--m {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
    color: var(--light-red);
}

.meeting-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.video-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    margin: auto;
    max-width: 800px;
    place-items: center;
}

.video-element, .audio-element {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button__control-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

.clock-content {
    position: absolute;
    left: 20px;
    bottom: 10px;
}

.toggle-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    white-space: nowrap;
    border-radius: 1rem;
    background-color: var(--light-red);
    border: 2px solid var(--color-primary-dark);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.toggle-button:hover {
    background-color: var(--dark-red);
    transform: scale(1.05);
}
  
.button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-content img {
    margin-bottom: 5px; 
}

.chat-sidebar {
    width: 245px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -245px;
    background-color: #fff;
    border-left: 1px solid #ddd;
    /* transform: translateX(100%); */
    transition: transform 0.3s ease-in-out;
}

.chat-sidebar-open {
    right: 0;
}